@import "tailwindcss";

body {
  background-color: rgb(237, 235, 216);
}
.space-grotesk-font {
  font-family: "Space Grotesk", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.container {
  display: flex;
}

.left,
.right {
  flex: 1;
  padding: 20px;
}

.income-box {
  border: 1px solid rgb(22, 74, 22);
  border-radius: 8px;
  height: 7em;
  width: 12em;
  background-color: white;
}

.expense-box {
  border: 1px solid rgb(209, 19, 19);
  border-radius: 8px;
  background-color: white;
  height: 7em;
  width: 12em;
}

.balance-box {
  border: 1px solid rgb(209, 19, 19);
  border-radius: 8px;
  background-color: rgba(255, 0, 0, 0.08);
  width: 12em;
  background-color: black;
  color: white;
}

.flex-container {
  display: flex;
}
.my-div {
  display: flex;
  flex-grow: 1;
  height: 100%;
  align-items: center;
}
