.space-grotesk-font {
  font-family: "Space Grotesk", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.container {
  display: flex;
}

.left,
.right {
  flex: 1;
  padding: 20px;
}

.income-box {
  border: 1px solid rgb(22, 74, 22);

  padding: 0.5rem 3rem;
  border-radius: 8px;
  background-color: rgba(0, 128, 0, 0.073);
  height: 7em;
  width: 12em;
}

.expense-box {
  border: 1px solid rgb(209, 19, 19);

  padding: 0.5rem 3rem;
  border-radius: 8px;
  background-color: rgba(255, 0, 0, 0.08);
  height: 7em;
  width: 12em;
}

.balance-box {
  border: 1px solid rgb(209, 19, 19);

  padding: 0.5rem 3rem;
  border-radius: 8px;
  background-color: rgba(255, 0, 0, 0.08);
  height: 7em;
  width: 12em;
}
