.centre {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.expense {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
